.service-card{
       background-color: rgba(128, 128, 128, 0.3);
      
        border: none;
        border-radius: 10px;
      width: 350px;
    height: 250px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
}

.title{
    color: #E1AD01;
    font-weight: light !important;
    font-size: 18px;
}

.details-button{
    background-color: #E1AD01 !important;
    color: white !important;

}